html,
body,
* {
  @apply m-0 p-0 box-border scrollbar-hide;
}
.main-wrapper {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}
.no-music-bg {
  background-image: linear-gradient(to top, #09203f 0%, #2f383f 100%);
}
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-left {
  animation: slideInFromLeft 0.5s ease forwards;
}
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-right {
  animation: slideInFromRight 0.5s ease forwards;
}
