html,
body,
* {
  @apply m-0 p-0 box-border scrollbar-hide;
}
.main-wrapper {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}
.no-music-bg {
  background-image: linear-gradient(to top, #09203f 0%, #2f383f 100%);
}
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-left {
  animation: slideInFromLeft 0.5s ease forwards;
}
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-right {
  animation: slideInFromRight 0.5s ease forwards;
}
/* Custom styling for the slider */
.custom-slider {
  -webkit-appearance: none; /* Remove default styling */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Set background color with opacity */
  outline: none;
  height: 6px; /* Adjust height as needed */
  border-radius: 5px;
}

/* Track styling */
.custom-slider::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.3); /* Background color with reduced opacity */
  border-radius: 5px;
  height: 6px; /* Adjust height */
}

/* Thumb styling */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px; /* Width of the thumb */
  height: 12px; /* Height of the thumb */
  background: white; /* White color for the thumb */
  border-radius: 50%; /* Make it round */
  cursor: pointer;
  margin-top: -3px; /* Center the thumb */
}

.custom-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
